<div class="modal fade" id="exampleModalToggle" tabindex="-1" aria-labelledby="exampleModalToggleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel" >아이템 이름</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-info">
                    <p>보유 포인트: <span class="point" >1050</span> Point</p>
                </div>
                <div class="modal-img">
                    <img  alt="아이템 이미지" class="img-fluid">
                </div>
                <p>이 아이템은 환불할 수 없습니다.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">구매하기</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>