<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="contents-header"> 	
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" th:text="${title}"></h2>
         
          </div>
          </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
   	<div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
   		<div class="row">
   			<div class="col">
   				      <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            
                              <div class="col-lg-3 col-md-6 me-auto">
						<div class="input-group">
							<input type="text" class="form-control" id="searchValue" 
								   name="searchValue" th:value="${searchValue}">
							<button class="btn btn-outline-primary" id="searchBtn" type="button" style="height: 41px">
										<i class="material-icons md-search"></i>
									</button>
						</div>
					</div>
                          
                  
                           
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body" style="padding: 3;">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>문의번호</th>
                                        <th>문의제목</th>
                                        <th>유저</th>
                                        <th>작성일자</th>
                                   		<th>답변여부</th>
                                        <th>비고</th>
                                     
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                <th:block th:if="${inquiryList}">
                               <tr th:each="l : ${inquiryList}">
                                       <td th:text="${l.inquiryNum}"></td>
                                     <td th:text="${l.inquiryTitle}"></td>
                                       <td th:text="${l.userInfo.userNn}"></td>
                                       <td th:text="${l.inquiryYmd}"></td>   
                        				
                        				<td>
                    					<span th:if="${l.responeInfo.responeNum != null}" 
                         				 class="badge rounded-pill alert-success" style="font-weight: bolder;">답변완료</span>
               							 </td> 
                        				
                        				
                                      <td>
                                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end" style="display: contents;">
                                                <a th:href="@{/admin/inquiry/detail(inquiryNum=${l.inquiryNum})}" 
                                                class="btn btn-sm btn-light font-sm rounded" style="margin-right: 10px;"> <i class="material-icons md-edit"></i>상세</a>
                                   
                                            </div>
                                 
                                        </td> 
                                    </tr>
                                    </th:block>
                                      <th:block th:unless="${not #lists.isEmpty(inquiryList)}">
								<tr>
									<td colspan="5">등록된 게시물이 없습니다.</td>
								</tr>
							</th:block>
                                 
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
            <div class="pagination-area mt-15 mb-50">
                    <nav>
                        <ul class="pagination justify-content-center">
                        		<li class="page-item">
                        			<a class="page-link" th:href="@{/admin/inquiry/list}">         			
               						<i class="material-icons md-first_page"></i>
                        			</a>
                        
                        
                        
                            <li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
                            		<a class="page-link"
                            			th:href="@{/admin/inquiry/list(currentPage=${currentPage -1})}">
                            		<i class="material-icons md-chevron_left"></i>
                            		</a>
                            </li>
                            
                            <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">		
                       				<li class="page-item" th:classappend="${num == currentPage} ? 'active'">
                       				<a class="page-link" th:href="@{/admin/inquiry/list(currentPage=${num})}" th:text="${num}"></a>
                       		</th:block>
                            <li class="page-item" th:classappend="${currentPage eq lastPage} ? disabled">
                                <a class="page-link" 
                                th:href="@{/admin/inquiry/list(currentPage=${currentPage+1})}">
                                <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                            <li class="page-item">
							    <a class="page-link" 
							       th:href="@{/admin/inquiry/list(currentPage=${lastPage})}">
							        <i class="material-icons md-last_page"></i>
							    </a>
							</li>    
                        </ul>
                    </nav>
                </div>
   			</div>
   		</div>
   	</th:block>
   	
   	
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	 <script th:inline="javascript">
    	
    		$('#searchBtn').click(function(){
    			
    			const searchValue = $('#searchValue').val();
    			const $form = $('<form />', { 'action' : '/admin/inquiry/searchList', 'method': 'post'});
    		
    			const $searchValue = 
    					$('<input />', {'type':'hidden', 'name' : 'searchValue'}).val(searchValue);
    			$form.append($searchValue);
    			$('body').append($form);
    			$form.submit();
    		});
    
    	</script>
    </th:block>
</html>