<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
	<link th:href="@{/assets/css/event/event.css}" rel="stylesheet" type="text/css">
</head>

<th:block layout:fragment="contents-header">  
	<div class="main-div">
	    <div class="detail-cate">
	        <a th:href="@{/event/progressEvent}" class="item-active">진행중 이벤트</a>
            <a th:href="@{/event/endEvent}" class="item-active active">종료된 이벤트</a>
            <a th:href="@{/event/winnerList}" class="item-active">당첨자 발표</a>
    	</div>
    </div>
    </th:block>
    <th:block layout:fragment="contents-body"> 
    <div class="main-div"> 
    <div class="list-event">
        <ul>
            <li class="event" onclick="location.href=''">
                <div class="list-thumb">
                    <img src="../img/26e997a1ac53443b8f7fe01a0b45a041.jpg">
                </div>
                <div class="list-contents">
                    <div class="list-con">
                        <div class="list-subject" aria-label="제목">
                            <span class="list-title">이벤트 제목</span>
                        </div>
                        <div class="list-term">
                            <strong>이벤트 기간</strong>
                            : 20xx.xx.xx - 20xx.xx.xx
                        </div>
                    </div>
                    <div class="list-status">
                        <span class="list-status-ongoing">종료</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>
</th:block>
</html>