@charset "UTF-8";

.main-div {
    min-height: 712px;
    display: flex;
}

.content-main {
	width: 100%;
}

/* 보유 이모티콘 */
.mypage-emoticon {
    margin: 30px 10px;
}

.mypage-emoticon > span {
    color: white;
    margin: 0px 10px;
    font-size: 18px;
}

.common-card-section {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 28.3px;
    justify-content: flex-start;
}

.card-section {
    background-color: white;
    border: 1px solid #007AFF;
    border-radius: 10px;
    width : 200px;
    height : 250px;
    color : black;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 0px 10px 20px 10px;
}

.card-section p {
    margin: 0;
    width: 180px;
}

.card-section img {
    width : 180px;
    height : 150px;
}

.more-btn-area {
    display: flex;
    justify-content: center;
}

.common-btn-md {
    width: 250px;
    padding: 10px;
    margin: 18px 0px;
    border-radius: 10px;
}

.more-btn-area img {
    width: 18px;
    height: 18px;
    border-radius: 10px;
}

.more-btn-area > span {
    color: white;
}

/* 내 게시글 */
.mypage-board{
    margin: 30px 10px;
}

.mypage-board > span {
    color: white;
    margin: 0px 10px;
    font-size: 18px;
}

.mypage-board-cate {
	color: #007bff;
    border-bottom: 1px solid #007bff;
    height: 30px;
}

.mypage-board-title {
	padding-top: 5px;
    height: 35px;
}

.mypage-board-content {
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    display: -webkit-box;
    overflow: hidden;
    white-space: wrap;
    height: 120px;
}

.mypage-board-emp {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid #007bff;
    padding: 10px 0px;
    height: min-content;
}

.mypage-board-emp img {
    width: 20px;
    height: 20px;
}

/* 내 문의글 */
.mypage-inquiry{
    margin: 30px 10px;
}

.mypage-inquiry > span {
    color: white;
    margin: 0px 10px;
    font-size: 18px;
}

.mypage-inquiry-title {
	color: #007bff;
    border-bottom: 1px solid #007bff;
    height: 30px;
}

.mypage-inquiry-content {
	padding-top: 5px;
    height: 147px;
}

.mypage-inquiry-response {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mypage-inquiry-response img {
    width: 25px;
    height: 25px;
}

/* 포인트 적립/사용 내역, 보유 쿠폰 */
.mypage-point-coupon-table {
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 20px;
    background-color: white;
}

.mypage-point-coupon-table .table {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.mypage-point-coupon-table .table > thead {
    border-bottom: 1px solid #007bff;
}

.mypage-point-coupon-table table tr:last-child td,
.mypage-point-coupon-table table tr:last-child th {
    border-bottom: none;
}

/* 모달 */
body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.modal-dialog {
    margin: auto;
    margin-top: 15vh;
}