ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px;
}
.pointshop-cate{
    text-decoration: none;
    margin: 0px 20px;
}
a {
    text-decoration: none;
    color: black;
}
.profile{
    height: 30px;
    width: 30px;
}
hr {
    margin-top: 30px;
}

div.pointshop-Hd{
    display: flex;
    margin: 20px;
    justify-content: flex-end;
}

div.pointShopImg{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
    gap: 20.3px;
    flex-wrap: wrap;
    margin-left: 86px;
}

div.pointShopBottom{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}
div.itemName{
    display: flex;
    justify-content: flex-end;
}
div.userArr{
    width: 1250px;
}
span.dot{
    margin-left: -40px;
}

.box{
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}
.main_div{
	width: 1200px;
    margin-left: 40px;
    height: 550px;
}
span.point{
    color: #007AFF;
}
.pointshop-cate a{
    color: white;
}
.myPoint{
    
    color: white;
}
.pagination {
    margin: 0px;
}
.pointshop-top{
    display: flex;
    margin-right: 40px;
}
.box img{
    width: 170px;
    height: 200px;
}
.pointshop-cate-name{
    color: white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}
.bi-chevron-left{
    color: white;
    font-size: 50px;
    background-color: #0d6efd21;
}
.bi-chevron-right {
    color: white;
    font-size: 50px;
    background-color: #0d6efd21;
}

/* 검색창 css */
.bi-search{
    border: 1px solid #007AFF;
    background-color: white;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
}
.search{
    display: flex;
    margin-right: 827px;
}
.item-search{
    margin-right: 3px;
}

.item-search {
    border-radius: 3px;
    border: 1px solid #007AFF;
    height: 30px;
}



/* slide css*/
.slide-div{
    display: flex;
    align-items: center;
}

.slide-screen{
    display: flex;
    align-items: center;
}

.slider{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.left-arrow:hover{
    cursor: pointer;
}

.right-arrow:hover{
    cursor: pointer;
}

.carousel-control-next, .carousel-control-prev{
    position: relative;
    width: 10%;
}
/* .sub-game {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.sub-game img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
*/
.sub-games {
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
.carousel-inner{
    width: 1030px;
    display: flex;
}

.carousel-item.active{
    display: flex;
}

.box-list{
    display: flex;
}

body.modal-open {
    overflow-y: scroll !important; 
    padding-right: 0 !important;   
    position: fixed;               
    width: 100%;                  
    top: 0;                       
    z-index: 10;
}

.modal-dialog {
    margin: auto;
    margin-top: 15vh;  
}
.modal-header{
    border-bottom: none;
    display: block;
}
.modal-info{
    text-align: right;
}
.modal-footer{
    border-top: none;
}
.modal-img{
    margin-bottom: 30px;
}

.modal-content{
    background-color: #051E38;
    color: aliceblue;
    box-shadow: 0px 0px 15px 1px black;
}
.modal-top{
	display: flex;
    justify-content: space-between;
}

