<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	   
 <th:block layout:fragment="contents-header"> 	
  <div class="row">
      <div class="col-6">
          <div class="content-header">
              <h2 class="content-title" th:text="${title}"></h2>
              <div>
                  <button class="btn btn-md rounded font-sm hover-up" id="modifyEventBtn">수정</button>
              </div>
          </div>
      </div>
  </div>
  </th:block>
  <th:block layout:fragment="contents-body">
 <form id="modifyEventForm" th:action="@{/admin/event/eventWinnerListmodify}" method="post">
  <div class="row">
      <div class="col-lg-6">
          <div class="card mb-4">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-3">
                          <h6>1. 일반 정보</h6>
                      </div>
                      <div class="col-md-9" th:each="ewli :${eventWinnerListInfo}">
                          <div class="mb-4">
                              <label class="form-label">이벤트당첨자리스트코드</label>
                              <input type="text" placeholder="Type here" class="form-control" name="evCd" th:value="${ewli.evCd}" readonly>
                          </div>
                          <div class="mb-4">
                              <label class="form-label">이벤트당첨자리스트명</label>
                              <input type="text" placeholder="Type here" class="form-control" name="ewNm" th:value="${ewli.ewNm}">
                          </div>
                          <!-- <div class="mb-4">
                              <label class="form-label">이벤트 설명</label>
                              <textarea class="form-control" rows="4" name="evContents" th:text="${eventInfo.evContents}"></textarea>
                              
                              <div class="mb-4">
                                  <label for="date">시작 날짜:</label>
                                  <input type="date"
                                          id="date"
                                          name="evStartYmd"
                                          th:value="${eventInfo.evStartYmd}"
                                		  >
                              </div>
                              <div class="mb-4">
                                  <label for="date">종료 날짜:</label>
                                  <input type="date"
                                          id="date"
                                          name="evEndYmd"
                                          th:value="${eventInfo.evEndYmd}"
                                         >
                              </div>
                          </div> -->
                      </div>
                  </div>
                  </div>
      </div>
  </div>
  </div>
  </form>
     </th:block>
  
    <!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		$('#modifyEventBtn').click(function(){
    			let isSubmit = true;
    			const $formControl = $('#modifyEventForm').find('input, select');
    			$formControl.each((idx, elem) => {
    				const value = $(elem).val();
    				if(!value){
    					isSubmit = false;
    					//alert('필수 입력 항목입니다.');
    					$(elem).focus();
    					return false;
    				}
    			});
    			
    			if(isSubmit) $('#modifyEventForm').submit();
    		})
</script>
  </th:block>
</html>