<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default-user}">
	  
	<head>
		<link th:href="@{/assets/css/user/user.css}" rel="stylesheet" type="text/css" />
	</head>
	
	<th:block layout:fragment="contents-body">
		<header>
			<div class="header-div">
	            <div class="header-img" th:onclick="|location.href='@{/}'|">
	                <img id="header-img" th:src="@{/assets/imgs/logo/GP_logo.png}"/>
	            </div>
	        </div>
		</header>
		
		<form id="addUserForm" class="join-info-form" th:action="@{/addUserPro}" method="post">
            <div class="user-form-text">
                <h3>회원가입</h3>
            </div>
            <div class="user-form-group">
                <input type="text" id="id" name="id" class="user-insert-form" placeholder="아이디를 입력해주세요">
            </div>
            <!-- <div>
                <input type="hidden" id="authrtNm" name="authrtNm" value="회원">
            </div> -->
            <div class="user-form-group">
                <input type="password" id="userPswd" name="userPswd" class="user-insert-form" placeholder="비밀번호를 입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group">
                <input type="password" id="userPswdCheck" class="user-insert-form" placeholder="비밀번호를 재입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group">
                <input type="text" id="userNm" name="userNm" class="user-insert-form" placeholder="이름을 입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group-gender">
                <input type="radio" class="btn-check" id="male" name="userGender" value="M" autocomplete="off" disabled="disabled">
                <label class="btn btn-primary btn-lg" for="male">남성</label>

                <input type="radio" class="btn-check" id="female" name="userGender" value="F" autocomplete="off" disabled="disabled">
                <label class="btn btn-primary btn-lg" for="female">여성</label>
            </div>
            <div class="user-form-group">
                <input type="email" id="userEmlAddr" name="userEmlAddr" class="user-insert-form" placeholder="이메일을 입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group-brdt">
                <input type="date" id="userBrdt" name="userBrdt" class="user-insert-form" placeholder="생년월일을 입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group">
                <input type="tel" id="userTelno" name="userTelno" class="user-insert-form" placeholder="전화번호를 입력해주세요" disabled="disabled">
            </div>
            <div class="user-form-group">
                <input type="text" id="userNn" name="userNn" class="user-insert-form" placeholder="닉네임을 입력해주세요" disabled="disabled">
            </div>
            <div>
                <button type="button" id="addUserBtn" class="btn btn-primary common-btn-lg">회원가입</button>
            </div>
        </form>
		
	</th:block>

	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource">
    	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    	
    	// 회원가입
		$('#addUserBtn').click(function() {
		    let isSubmit = true;
		
		    const $formControl = $('#addUserForm').find('input');
		
		    $formControl.each((idx, elem) => {
		        const value = $(elem).val();
		
		        // Check if radio group for gender is checked
		        if ($(elem).attr('name') === 'userGender') {
		            if (!$('input[name="userGender"]:checked').length) {
		                isSubmit = false;
		
		                // Add focus-gender class to both labels
		                $('label[for="male"], label[for="female"]').addClass('focus-gender');
		                return false;
		            } else {
		                // Remove focus-gender class if one is selected
		                $('label[for="male"], label[for="female"]').removeClass('focus-gender');
		            }
		        } else if (!value) {
		            isSubmit = false;
		            $(elem).focus();
		            return false;
		        }
		    });
		
		    if (isSubmit) $('#addUserForm').submit();
		});

		// 중복 아이디 체크
		$('#id').on({
			'blur' : function() {
				const checkId = $('#id').val();
				
				// ajax
				const request = $.ajax({
					url : '/checkId',
					method : 'POST',
					data : { 'id' : checkId },
					dataType : 'json'
				});
				request.done(function(data) {
					const isDuplicate = data;
					
					$('#addUserForm').find('input, lebel')
					   .not('#id')
					   .prop('disabled', isDuplicate);
					
					console.log(data);
				});
				request.fail(function(jQXHR, textStatus, error) {
					console.log(error);
				});
			}
		});
		
		$('#id').change(function() {
			$('#addUserForm').find('input, lebel')
							   .not('#id')
							   .prop('disabled', true);
		});

    	
    	</script>
    </th:block>
            
</html>