<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
    <th:block layout:fragment="contents-header"> 	
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" th:text="${title}"></h2>
          </div>
          <div> 
              <a th:href="@{addTournament}" class="btn btn-primary btn-sm rounded">대회 추가</a>
          </div>
      </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
	    <div class="card mb-4">
	        <header class="card-header">
	            <div class="row align-items-center">
	                <div class="col col-check flex-grow-0">
	                    <div class="form-check ms-2">
	                        <input class="form-check-input" type="checkbox" value="" />
	                    </div>
	                </div>
	                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
	                    <select class="form-select">
	                        <option selected>전체 카테고리</option>
	                        <option>LoL</option>
	                        <option>Valorant</option>
	                        <option>PUBG</option>
	                    </select>
	                </div>
	                <div class="col-md-2 col-6">
	                    <input type="date" value="02.05.2021" class="form-control" />
	                </div>
	                <div class="col-md-2 col-6">
	                    <select class="form-select">
	                        <option selected>현황</option>
	                        <option>진행중</option>
	                        <option>예정</option>
	                        <option>종료</option>
	                    </select>
	                </div>
	            </div>
	        </header>
	        <!-- card-header end// -->
	        <div class="card-body">
	            <article class="itemlist" th:each="tournament:${tournamentList}" th:if="${tournamentList != null}">
	                <div class="row align-items-center">
	                    <div class="col col-check flex-grow-0">
	                        <div class="form-check">
	                            <input class="form-check-input" type="checkbox" />
	                        </div>
	                    </div>
	                    <div class="col-lg-4 col-sm-3 col-8 flex-grow-1 col-name">
	                        <a class="itemside" href="#">
	                            <div class="left">
	                                <img src="assets/imgs/items/1.jpg" class="img-sm img-thumbnail" alt="Item" />
	                            </div>
	                            <div class="info">
	                                <h6 class="mb-0" th:text="${tournament.tournamentName}">리그오브레전드 월드 챔피언십</h6>
	                            </div>
	                        </a>
	                    </div>
	                    <div class="col-lg-2 col-sm-2 col-4 col-price"><span th:text="${tournament.gameName}">LoL</span></div>
	                    <div class="col-lg-2 col-sm-2 col-4 col-status" th:if="${#temporals.createToday()} > ${#temporals.createDate(tournament.tournamentEndDate,'yyyy-MM-dd')}">
	                        <span class="badge rounded-pill alert-danger">종료</span>
	                    </div>
	                    <div class="col-lg-2 col-sm-2 col-4 col-status" th:if="${#temporals.createToday()} >= ${#temporals.createDate(tournament.tournamentStartDate,'yyyy-MM-dd')} and ${#temporals.createToday()} <= ${#temporals.createDate(tournament.tournamentEndDate,'yyyy-MM-dd')}">
	                        <span class="badge rounded-pill alert-success">진행중</span>
	                    </div>
	                    <div class="col-lg-2 col-sm-2 col-4 col-status" th:if="${#temporals.createToday()} < ${#temporals.createDate(tournament.tournamentStartDate,'yyyy-MM-dd')}">
	                        <span class="badge rounded-pill alert-warning">예정</span>
	                    </div>
	                    <div class="col-lg-1 col-sm-2 col-4 col-date">
	                        <span th:text="${#temporals.createDate(tournament.tournamentStartDate,'yyyy-MM-dd')}">09.25.2024</span>
	                    </div>
	                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
	                        <a th:href="@{/admin/tournament/modifyTournament(tournament=${tournament.tournamentCode})}" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> 수정 </a>
	                        <a th:href="@{/admin/tournament/deleteTournament(tournament=${tournament.tournamentCode})}" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> 삭제 </a>
	                    </div>
	                </div>
	                <!-- row .// -->
	            </article>
	            <article class="itemlist" th:unless="${tournamentList != null}">
	                <div class="row align-items-center">
	                    <div class="col-lg-4 col-sm-3 col-8 flex-grow-1 col-name">
	                        <div class="info">
	                            <h6 class="mb-0">대회 정보가 존재하지 않습니다</h6>
	                        </div>
	                    </div>
	                </div>
	                <!-- row .// -->
	            </article>
	            <!-- itemlist  .// -->
	            
	        </div>
	        <!-- card-body end// -->
	    </div>
	    <!-- card end// -->
	    <div class="pagination-area mt-30 mb-50">
	        <nav aria-label="Page navigation example">
	            <ul class="pagination justify-content-start">
	                <li class="page-item active"><a class="page-link" href="#">01</a></li>
	                <li class="page-item"><a class="page-link" href="#">02</a></li>
	                <li class="page-item"><a class="page-link" href="#">03</a></li>
	                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
	                <li class="page-item"><a class="page-link" href="#">16</a></li>
	                <li class="page-item">
	                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
	                </li>
	            </ul>
	        </nav>
	    </div>
   	</th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		
    	</script>
    </th:block>
</html>
