@charset "UTF-8";

/* 회원 수정 */
.content-main {
	width: 100%;
}

.mypage-modify {
    display: grid;
    margin: 0px 10px;
    justify-content: center;
}

.mypage-modify > span {
    color: white;
    margin:0px 10px;
    font-size: 18px;
}

.mypage-modify-form {
    margin-top: 15px;
    margin-bottom: 75px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: white;
    display: grid;
    justify-content: center;
    padding: 30px 0px;
    width: 500px;
}

.mypage-profile-frame {
    display: flex;
    position: relative;
    height: 225px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mypage-profile-frame-area {
    position: relative;
    width: 225px;
    height: 225px;
}

#mypage-profile-img {
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: 1;
}

#mypage-frame-img {
    width: 225px;
    height: 225px;
    position: absolute;
    z-index: 2;
}

.mypage-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
}

.user-form-group {
    margin: 10px 0;
    border-radius: 10px;
}

.user-insert-form {
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}

.common-card-section {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 28.3px;
    justify-content: flex-start;
}

.card-section {
    background-color: white;
    border: 1px solid #007AFF;
    border-radius: 10px;
    width : 200px;
    height : 250px;
    color : black;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 0px 10px 20px 10px;
}

.card-section p {
    margin: 0;
    width: 180px;
}

.card-section img {
    width : 180px;
    height : 150px;
}

/* 포인트 적립/사용 내역, 보유 쿠폰 */
.mypage-point-coupon-table {
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 20px;
    background-color: white;
}

.mypage-point-coupon-table .table {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.mypage-point-coupon-table .table > thead {
    border-bottom: 1px solid #007bff;
}

.mypage-point-coupon-table table tr:last-child td,
.mypage-point-coupon-table table tr:last-child th {
    border-bottom: none;
}

/* 모달 */
body.modal-open {
    overflow-y: scroll !important;
    padding-right: 0 !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.modal-dialog {
    margin: auto;
    margin-top: 15vh;
}