@charset "UTF-8";

/* 헤더 */
header {
    padding: 10px 0px;
    margin: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 106px;
}

.header-div{
    width: 1280px;
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#header-img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

/* 바디 */
body {
    background-color: #051E38;
    padding-top: 106px;
    overflow-y: scroll;
}

main {
    text-align: center;
    position: relative;
}

.user-info-form {
    display: inline-block;
    margin-top: 100px;
    width: 500px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: white;
}

.user-info-result {
	padding: 10px 0px;
}

.user-info-result span {
	color: #007bff;
}

.join-info-form {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 500px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: white;
}

.user-form-text {
    margin: 0 auto;
    width: 400px;
}

.user-form-text > h3 {
    margin: 40px 0px;
}

.user-form-group {
    margin: 10px 0;
    border-radius: 10px;
}

.user-form-group-gender {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.btn-check + .btn {
    width: 200px;
    height: 46px;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 16px;
    margin: 0px;
    background-color: white;
}

.btn-check+.btn:hover {
    color: white;
    background-color: #007bff;
}

.btn-check:checked + .btn {
    margin: 0px;
    color: white;
    background-color: #007bff;
    border: 0;
}

label.focus {
    border: 2px solid black;
}


label[for="male"] {
    border-radius: 10px 0px 0px 10px;
}

label[for="female"] {
    border-radius: 0px 10px 10px 0px;
}

input[type="date"] {
    color: dimgrey;
}

input[type="date"].has-value {
    color: black;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 500px lightgray inset !important;
}

.user-insert-form {
    width: 400px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
}

.common-btn-lg {
    width: 400px;
    height: 46px;
    padding: 10px;
    margin: 30px 0px;
    border-radius: 10px;
}

.user-form-span {
    margin:15px;
}

.user-form-span span {
    font-size: 14px;
    margin: 30px;
}

.find-id {
    cursor: pointer;
}

.find-pw {
    cursor: pointer;
}

.add-user {
    cursor: pointer;
}

.login {
    cursor: pointer;
}