<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gamepiece.user.myPage.mapper.MyPageMapper">

	<resultMap type="gamepiece.user.myPage.domain.MyPage" id="myPageResultMap">
		<id column="id" property="id" />
		<result column="authrt_cd" property="authrtCd"/>
		<result column="user_pswd" property="userPswd"/>
		<result column="user_nm" property="userNm"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_eml_addr" property="userEmlAddr"/>
		<result column="user_brdt" property="userBrdt"/>
		<result column="user_telno" property="userTelno"/>
		<result column="user_nn" property="userNn"/>
		<result column="join_ymd" property="joinYmd"/>
	</resultMap>
	
	<resultMap type="gamepiece.user.pointShop.domain.PointLog" id="pointLogMap">
		<id column="point_no" property="pointNo" />
		<result column="id" property="id"/>
		<result column="point_receive_ymd" property="pry"/>
		<result column="point_receive_content" property="prc"/>
		<result column="point_receive" property="pointReceive"/>
		<result column="point_division" property="pointDivision"/>
		<result column="remaining_point" property="totalPoint"/>
	</resultMap>
	
	<resultMap type="gamepiece.user.pointShop.domain.Point" id="pointshopResultMap">
			<id column="ps_cd" 			property="itemCd"/>
			<result column="ps_cate_cd" property="itemCate" />
			<result column="cate_nm" 	property="cateName" />
			<result column="ps_nm" 	property="itemName" />
			<result column="img_url" 	property="itemImgurl" />
			<result column="ps_price" 		property="itemPrice" />
			<result column="admin_id" 	property="adminId" />
			<result column="reg_ymd" 	property="regYmd" />
			<result column="is_delete"  property="isDelete" />
	</resultMap>
	
	<!-- 마이페이지 - 사용자정보조회 (정보수정) -->
	<select id="myPageUser" resultMap="myPageResultMap">
		SELECT
			*
		FROM
			user
		WHERE
			id = #{id};
	</select>
	
	<!-- 마이페이지 - 사용자정보조회 (포인트 내역) -->
	<select id="myPagePointLog" resultMap="pointLogMap">
		SELECT
			point_no,
			id,
			point_receive_ymd,
			point_receive_content,
			point_receive,
			point_division
		FROM
			point_log
		WHERE
			id = #{id};
	</select>
	
	<!-- 마이페이지 - 아바타 -->
	<select id="getAvatar" resultMap="pointshopResultMap">
		SELECT
			ps.img_url
		FROM
			pointshop_categories pc INNER JOIN point_shop ps
			ON pc.cate_cd = ps.ps_cate_cd
			INNER JOIN pointshop_logs pl
			USING (ps_cd)
		WHERE
			id = #{id}
			AND
			ps_cate_cd = 'cate_02';
	</select>
	
</mapper>