<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gamepiece.user.user.mapper.UserMapper">

	<resultMap type="gamepiece.user.user.domain.User" id="userResultMap">
		<id column="id" property="id" />
		<result column="authrt_cd" property="authrtCd"/>
		<result column="user_pswd" property="userPswd"/>
		<result column="user_nm" property="userNm"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_eml_addr" property="userEmlAddr"/>
		<result column="user_brdt" property="userBrdt"/>
		<result column="user_telno" property="userTelno"/>
		<result column="user_nn" property="userNn"/>
		<result column="join_ymd" property="joinYmd"/>
	</resultMap>
	
	<resultMap type="gamepiece.user.user.domain.Login" id="loginMap">
		<id column="login_no" property="loginNo" />
		<result column="id" property="id"/>
		<result column="lgn_dt" property="lgnDt"/>
	</resultMap>
	
	<resultMap type="gamepiece.user.user.domain.Avatar" id="avatarMap">
		<id column="avatar_no" property="avatarNo" />
		<result column="id" property="id"/>
		<result column="ps_cd" property="psCd"/>
		<result column="avatar_yn" property="avatarYn"/>
		<result column="reg_ymd" property="regYmd"/>
		<result column="ps_nm" property="psNm"/>
		<result column="img_url" property="imgUrl"/>
	</resultMap>
	
	<resultMap type="gamepiece.user.user.domain.AvatarFrame" id="avatarFrameMap">
		<id column="avatarframe_no" property="avatarframeNo" />
		<result column="id" property="id"/>
		<result column="ps_cd" property="psCd"/>
		<result column="avatarframe_yn" property="avatarframeYn"/>
		<result column="reg_ymd" property="regYmd"/>
		<result column="ps_nm" property="psNm"/>
		<result column="img_url" property="imgUrl"/>
	</resultMap>
	
	<!-- 전체 회원정보 조회 -->
	<select id="checkUser" resultMap="userResultMap">
		SELECT
			*
		FROM
			user
		WHERE
			id = #{id};
	</select>
	
	<!-- 회원가입 -->
	<insert id="addUser" parameterType="gamepiece.user.user.domain.User">
		INSERT INTO user(
			id,
			user_pswd,
			user_nm,
			user_gender,
			user_eml_addr,
			user_brdt,
			user_telno,
			user_nn,
			join_ymd
		) VALUES (
			#{id},
			#{userPswd},
			#{userNm},
			#{userGender},
			#{userEmlAddr},
			#{userBrdt},
			#{userTelno}, 
			#{userNn},
			CURDATE());
	</insert>
	
	<!-- 중복 아이디 체크 -->
	<select id="checkId" parameterType="string" resultType="boolean">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			id = #{id};
	</select>
	
    <!-- 사용자 로그 확인 (오늘 날짜) -->
    <select id="findLoginLog" resultType="int">
    	SELECT
			COUNT(*)
		FROM
			user_login_log 
		WHERE
			id = #{id}
			AND
			DATE(lgn_dt) = DATE(NOW());
    </select>
    
    <!-- 로그인 로그 삽입 -->
	<insert id="addloginLog" parameterType="gamepiece.user.user.domain.Login">
        INSERT INTO user_login_log(
        	login_no,
        	id,
        	lgn_dt
       	) VALUES (
       		#{loginNo},
       		#{id},
       		NOW());
    </insert>
    
    <!-- 로그인 로그 업데이트 -->
    <update id="modifyLoginLog" parameterType="gamepiece.user.user.domain.Login">
    	UPDATE
			user_login_log 
		SET
			lgn_dt = NOW()
		WHERE
			id = #{id} 
			AND
			DATE(lgn_dt) = DATE(NOW());
    </update>
    
    <!-- 아이디 찾기 로직 -->
    <select id="findUserIdPro" resultType="string">
    	SELECT
			id
		FROM
			user
		WHERE
			user_nm = #{userNm}
			AND
			user_eml_addr = #{userEmlAddr}
			AND
			user_telno = #{userTelno};
    </select>
    
    <!-- 비밀번호 찾기 로직 -->
    <select id="findUserPswdPro" resultType="string">
    	SELECT
			user_pswd
		FROM
			user
		WHERE
			id = #{id}
			AND
			user_nm = #{userNm}
			AND
			user_eml_addr = #{userEmlAddr}
			AND
			user_telno = #{userTelno};
    </select>
    
    <!-- 개인 정보 수정 -->
	<update id="modifyUserInfo" parameterType="gamepiece.user.user.domain.User">
		UPDATE user
		<set>
			<if test="userPswd != null and userPswd != ''">
				user_pswd = #{userPswd},
			</if>
			<if test="userNm != null and userNm != ''">
				user_nm = #{userNm},
			</if>
			<if test="userEmlAddr != null and userEmlAddr != ''">
				user_eml_addr = #{userEmlAddr},
			</if>
			<if test="userTelno != null and userTelno != ''">
				user_telno = #{userTelno},
			</if>
			<if test="userNn != null and userNn != ''">
				user_nn = #{userNn}
			</if>
		</set>
		WHERE
			id = #{id};
	</update>
	
	<!-- 아바타 -->
	<select id="getUserAvatar" resultType="string">
		SELECT 
			p.img_url
		FROM 
			avatar a JOIN point_shop p
		ON a.ps_cd = p.ps_cd
		WHERE
			a.id = #{id}
			AND
			a.avatar_yn = '선택'
			AND
			p.ps_cate_cd = 'cate_02';
	</select>
	
	<!-- 아바타액자 -->
	<select id="getUserAvatarFrame" resultType="string">
		SELECT 
			p.img_url
		FROM 
			avatar_frame af JOIN point_shop p
		ON af.ps_cd = p.ps_cd
		WHERE
			af.id = #{id}
			AND
			af.avatarframe_yn = '선택'
			AND
			p.ps_cate_cd = 'cate_03';
	</select>
	
</mapper>