<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/assets/css/tournament/tournament_bet.css}'>
</head>
<body>
    <main>
        <th:block layout:fragment="contents-header">
            <div class = "tournament-menu">
                <ul>
                    <li><a th:href="@{/tournament/list}" class="button-list">LoL</a></li>
		           <li><a th:href="@{/tournament/list/valorant}" class="button-list">Valorant</a></li>
		           <li><a th:href="@{/tournament/list/pubg}" class="button-list">PUBG</a></li>
		           <li><a th:href="@{/tournament/matchPrediction}" class="button-list active">승부예측</a></li>
                </ul>
            </div>
        </th:block>
        <th:block layout:fragment="contents-body">
            <div class="tournament-div">
                <div class="bet-text">
                    <h3>승부예측</h3>
                </div>
                <div class="match-info">
                    <select class="select-year" name="year">
                        <option value="2024" selected>2024년</option>
                        <option value="2025">2025년</option>
                    </select>
                    <select class="select-month" name="month">
                        <option value="1">1월</option>
                        <option value="2">2월</option>
                        <option value="3">3월</option>
                        <option value="4">4월</option>
                        <option value="5">5월</option>
                        <option value="6">6월</option>
                        <option value="7">7월</option>
                        <option value="8">8월</option>
                        <option value="9">9월</option>
                        <option value="10" selected>10월</option>
                        <option value="11">11월</option>
                        <option value="12">12월</option>
                    </select>
                </div>
                <div class="week-list">
                    <button class="btn btn-primary btn-week">1주차</button>
                    <button class="btn none-btn btn-week">2주차</button>
                    <button class="btn none-btn btn-week">3주차</button>
                    <button class="btn none-btn btn-week">4주차</button>
                    <button class="btn none-btn btn-week">5주차</button>
                </div>
                <div class="match-list-point-ranking">
                    <div class="match-list">
                        <div class="match-date">
                            <p>24. 10. 03 목</p>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>21:00</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">
                                        <div class="team1-win">
                                            <p>WIN</p>
                                        </div>        
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-win">
                                            <p>1</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>22:00</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">
                                        <div class="team1-win">
                                            <p>WIN</p>
                                        </div>        
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-win">
                                            <p>1</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>23:00</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">      
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-win">
                                            <p>1</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                        <div class="team2-win">
                                            <p>WIN</p>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-date">
                            <p>24. 10. 04 금</p>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>00:25</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>01:25</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-time">
                            <div>
                                <div class="time-day">
                                    <p>02:25</p>
                                </div>
                                <div class="score-div">
                                    <div class="team1">
                                        <p>team1</p>
                                        <i class="bi bi-image"></i>
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                    </div>
                                    <div class="team2">
                                        <div class="team-lose">
                                            <p>0</p>
                                        </div>
                                        <i class="bi bi-image"></i>
                                        <p>team2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="point-ranking">
                        <p>승부예측 순위</p>
                        <div class="header-title">
                            <div class="rank">
                                <p>Rank</p>
                            </div>
                            <div class="user-name">
                                <p>UserName</p>
                            </div>
                            <div class="point">
                                <p>Point</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>1</p>
                            </div>
                            <div class="user-name">
                                <p>미드아니면닷지함</p>
                            </div>
                            <div class="point">
                                <p>42000</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>2</p>
                            </div>
                            <div class="user-name">
                                <p>소라카장인</p>
                            </div>
                            <div class="point">
                                <p>34000</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>3</p>
                            </div>
                            <div class="user-name">
                                <p>내가진짜미친사람이다</p>
                            </div>
                            <div class="point">
                                <p>15000</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                        <div class="user-list">
                            <div class="rank">
                                <p>4</p>
                            </div>
                            <div class="user-name">
                                <p>홍길동</p>
                            </div>
                            <div class="point">
                                <p>8200</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		    <script text="javascript">
		        const $selectMonth = document.querySelector('.select-month');
		
		        $selectMonth.addEventListener('click', () => {
		            const $selectMonthList = document.createElement('div');
		            $selectMonthList.classList.add('select-month-list');
		            
		            for(i=1; i<=12; i+=1){
		                const $p = document.createElement('p');
		                const $div = document.createElement('div');
		                $div.classList.add('month');
		
		                $p.textContent = i;
		
		                $div.appendChild($p);
		                $selectMonthList.appendChild($div);
		            }
		
		            const $addSelectMonthList = document.querySelector('.select-month-list')
		            if($addSelectMonthList == null){
		                $selectMonth.appendChild($selectMonthList);
		            }else{
		                $addSelectMonthList.remove();
		            }
		            
		        });
		    </script>
         </th:block>
       </div>
    </main>
</body>
</html>