<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="contents-header"> 	
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" th:text="${title}"></h2>
         
          </div>
           <div> 
          <a th:href="@{/admin/notice/write}" class="btn btn-primary btn-sm rounded">공지작성</a>
      </div>
      </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
   	<div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
 
   		<div class="row">
   			<div class="col">
   				      <div class="card mb-4">
                    <header class="card-header">
                       <div class="col-lg-3 col-md-6 me-auto">
						<div class="input-group">
							<input type="text" class="form-control" id="searchValue" 
								   name="searchValue" th:value="${searchValue}">
							<button class="btn btn-light bg" id="searchBtn" type="button">
								<i class="material-icons md-search"></i>
							</button>
						</div>
					</div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body" style="padding: 3;">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th>공지번호</th>
                                        <th>공지제목</th>
                                        <th>조회수</th>
                                        <th>작성자</th>
                                        <th>작성일</th>
                                        <th>비고</th>
                                     
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                <th:block th:if="${noticeList}">
                               <tr th:each="l : ${noticeList}">
                                       <td th:text="${l.noticeNum}"></td>
                                     <td th:text="${l.noticeTitle}"></td>
                                       <td th:text="${l.viewCount}"></td>                                   
                                       <td th:text="${l.adminId}"></td>                                   
                                       <td th:text="${l.noticeYmd}"></td>                                   
                                      
                                    <td>
                                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end" style="display: contents;">
                                                <a th:href="@{/admin/notice/modify(noticeNum=${l.noticeNum})}" 
                                                class="btn btn-sm font-sm rounded btn-brand" style="margin-right: 10px;"> <i class="material-icons md-edit"></i> 수정 </a>
                                                
                                              <a th:href="@{/admin/notice/remove(noticeNum=${l.noticeNum})}"
								  class="btn btn-sm font-sm btn-light rounded removeBtn" style="margin-right: 10px;">
								  <i class="material-icons md-delete_forever"></i>삭제
															</a>
                                            </div>
                                     <!--        dropdown //end -->
                                        </td> 
                                    </tr>
                                    </th:block>
                             <th:block th:unless="${not #lists.isEmpty(noticeList)}">
								<tr>
									<td colspan="5">등록된 게시물이 없습니다.</td>
								</tr>
							</th:block>
                                 
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
            <div class="pagination-area mt-15 mb-50">
                    <nav>
                        <ul class="pagination justify-content-center">
                        		<li class="page-item">
                        			<a class="page-link" th:href="@{/admin/notice/list}">         			
               						<i class="material-icons md-first_page"></i>
                        			</a>
                        
                        
                        
                            <li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
                            		<a class="page-link"
                            			th:href="@{/admin/notice/list(currentPage=${currentPage -1})}">
                            		<i class="material-icons md-chevron_left"></i>
                            		</a>
                            </li>
                            <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">		
                       				<li class="page-item" th:classappend="${num == currentPage} ? 'active'">
                       				<a class="page-link" th:href="@{/admin/notice/list(currentPage=${num})}" th:text="${num}"></a>
                       		</th:block>
                            <li class="page-item" th:classappend="${currentPage eq lastPage} ? disabled">
                                <a class="page-link" 
                                th:href="@{/admin/notice/list(currentPage=${currentPage+1})}">
                                <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                            <li class="page-item">
							    <a class="page-link" 
							       th:href="@{/admin/notice/list(currentPage=${lastPage})}">
							        <i class="material-icons md-last_page"></i>
							    </a>
							</li>    
                        </ul>
                    </nav>
                </div>
   			</div>
   		</div>
   	</th:block>
   	
   	
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	 <script th:inline="javascript">
    	const startPageNum = [[${startPageNum}]];
    	const endPageNum = [[${endPageNum}]];
    	
    	$('.removeBtn').click(function(e){
    		   e.preventDefault();
    		   
    		   if(confirm('삭제하시겠습니까?')) {
    		       const noticeNum = $(this).attr('href').split('=')[1];
    		       
    		       const form = document.createElement('form');
    		       form.method = 'POST';
    		       form.action = '/admin/notice/remove';
    		       
    		       const input = document.createElement('input');
    		       input.type = 'hidden';
    		       input.name = 'noticeNum';
    		       input.value = noticeNum;
    		       
    		       form.appendChild(input);
    		       document.body.appendChild(form);
    		       form.submit();
    		   }
    		});
    	
    	
    	
    	$('#searchBtn').click(function(){
			
			const searchValue = $('#searchValue').val();
			const $form = $('<form />', { 'action' : '/admin/notice/searchList', 'method': 'post'});
		
			const $searchValue = 
					$('<input />', {'type':'hidden', 'name' : 'searchValue'}).val(searchValue);
			$form.append($searchValue);
			$('body').append($form);
			$form.submit();
		});
    	
    	
    	
    	</script>
    </th:block>
</html>