<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
	<link rel="stylesheet" th:href="@{/assets/css/home/GamePiece.css}" />
</head>
<th:block layout:fragment="contents-body">
	<main>
        <div class="main">
            <div class="main-contents">
                <div class="GamePeace_logo">
                    <img th:src="@{assets/imgs/logo/GamePeace.svg}"/>
                </div>
                <div class="slide-div">
                    <div id="main-list" class="main-slider carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="main-games carousel-item active">
                            	<a th:href="@{/game/steamDetail(gameCode=466560)}">
                                	<img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/466560/3f653067940e08ffa04b6867fd5d7787cf2e49ae/capsule_616x353.jpg?t=1732274847"/>
                                </a>
                            </div>
                            <div class="main-games carousel-item">
                            	<a th:href="@{/game/steamDetail(gameCode=1943950)}">
                                	<img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1943950/capsule_616x353.jpg?t=1721158394"/>
                                </a>
                            </div>
                            <div class="main-games carousel-item">
                            	<a th:href="@{/game/steamDetail(gameCode=1623730)}">
                                	<img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1623730/c961ac047294838bfe382bf193ade5c64b19e573/capsule_616x353.jpg?t=1728458632"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-div">
                    <div class="left-arrow carousel-control-prev" data-bs-target="#sub-game-list" data-bs-slide="prev">
                        <i class="bi bi-chevron-left"></i>
                    </div>
                    <div id="sub-game-list" class="slider carousel slide">
                        <div class="carousel-inner">
                            <div class="sub-games carousel-item active">
                                <div class="sub-game">
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=433340)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/433340/capsule_616x353.jpg?t=1732647440"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=391720)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/391720/capsule_616x353.jpg?t=1732796809"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=1172380)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1172380/capsule_616x353.jpg?t=1725901454"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-games carousel-item">
                                <div class="sub-game">
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=1086940)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1086940/hero_capsule.jpg?t=1725654125"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=2679460)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2679460/hero_capsule.jpg?t=1732700322"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=990080)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/990080/hero_capsule.jpg?t=1717689083"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-games carousel-item">
                                <div class="sub-game">
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=2513280)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/2513280/hero_capsule_koreana.jpg?t=1732875699"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=271590)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/bundles/5699/qipqf90z2z7h4x3i/hero_capsule.jpg?t=1678931390"/>
                                        </a>
                                    </div>
                                    <div>
                                    	<a th:href="@{/game/steamDetail(gameCode=1601580)}">
                                        	<img class="game" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1601580/27c9ed15b2bafd62a8037e229fb2e44a17441737/hero_capsule.jpg?t=1732797543"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-arrow carousel-control-next" data-bs-target="#sub-game-list" data-bs-slide="next">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                </div>
                <div class="event-contents">
                    <div class="event-content">
                        <ul>
				<!-- 이벤트 목록이 null이 아닌 경우 반복 -->
				<th:block th:if="${eventList != null}">
					<th:block th:each="event : ${eventList}">
						<!-- 진행 중인 이벤트만 표시 -->
						<li class="event" th:if="${event.evStatus == '진행중'}">
							<div class="list-thumb">
							    <img th:onclick="|location.href='@{/event/eventDetail(evCd=${event.evCd},evStatus=${event.evStatus})}'|" th:src="${event.filePath}" alt="Event Thumbnail">
							</div>
							<div class="list-contents">
							    <div class="list-con">
							        <div class="list-subject" aria-label="제목">
							            <span class="list-title" th:text="${event.evNm}"></span>
							        </div>
							        <div class="list-term">
							            <strong>이벤트 기간</strong>
								            <span th:text="${event.evStartYmd}"></span>
								            <span>~</span>
								            <span th:text="${event.evEndYmd}"></span>
							        </div>
							    </div>
							    <div class="list-status">
									<span class="list-status-ongoing" th:text="${event.evStatus}"></span>
							    </div>
							</div>
						</li>
					</th:block>
				</th:block>
				</ul>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </main>
</th:block>
<!--/* 사용자 추가 js file */-->
<th:block layout:fragment="customJsResource">
	<script th:src="@{/assets/js/home/homeJs.js}"></script>
</th:block>
<!--/* 사용자 추가 js script */-->
<th:block layout:fragment="customJs">
</th:block>
</html>