<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gamepiece.admin.board.mapper.BoardFilesMapper">

	
  <resultMap type="gamepiece.admin.board.domain.AdminBoardsFiles" id="AdminboardFileResultMap">
        <result property="bfIdx" column="bf_idx"/>
        <result property="boardNum" column="bbs_no"/>
        <result property="fileIdx" column="file_idx"/>



	 <association property="fileInfo" javaType="gamepiece.admin.board.domain.AdminBoardFiles">
		<result property="fileIdx" 			column="file_idx"/>
		<result property="fileNewName" 		column="file_new_name"/>
		<result property="fileOriginalName" column="file_original_name"/>
		<result property="filePath" 		column="file_path"/>
		<result property="fileSize" 		column="file_size"/>
		</association>
	
	
	
			
	
</resultMap>
 <select id="getBoardFiles" parameterType="String" resultMap="AdminboardFileResultMap">
        SELECT 
            bf.bf_idx,
            bf.bbs_no,
            f.file_idx,
            f.file_original_name,
            f.file_new_name,
            f.file_path,
            f.file_size
        FROM 
            boards_files bf
            INNER JOIN files f ON bf.file_idx = f.file_idx
        WHERE 
            bf.bbs_no = #{boardNum}
    </select>




	
</mapper>







