<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gamepiece.admin.board.mapper.BoardMapper">




	<resultMap type="gamepiece.admin.board.domain.Board" id="BoardResultMap">
    <id column="bbs_no"  property="boardNum" />
    <result column="bbs_cate_cd" property="boardCategory" />
    <result column="bbs_title" property="boardTitle" />
    <result column="bbs_cn" property="boardContent" />
    <result column="id" property="boardUserId" />
    <result column="bbs_like" property="boardLikeCnt" />
    <result column="bbs_dislike" property="boardDisLikeCnt" />
    <result column="bbs_view" property="boardViewCnt" />
    <result column="bbs_ymd" property="boardYmd" />
	    <result property="isDelete" column="is_delete"/>


    <association property="userInfo" javaType="gamepiece.admin.user.domain.User">
 			<id column="id" property="id" />
		<result column="authrt_cd" property="authrtCd"/>
		<result column="authrt_nm" property="authrtNm"/>
		<result column="user_pw" property="userPswd"/>
		<result column="user_nm" property="userNm"/>
		<result column="user_gender" property="userGender"/>
		<result column="user_eml_addr" property="userEmlAddr"/>
		<result column="user_brdt" property="userBrdt"/>
		<result column="user_telno" property="userTelno"/>
		<result column="user_nn" property="userNn"/>
		<result column="join_ymd" property="joinYmd"/>
		<result column="whdwl_ymd" property="whdwlYmd"/>
		<result column="login_no" property="loginNo"/>
		<result column="lgn_dt" property="lgnDt"/>
		<result column="inactive_days" property="inactiveDays"/>
    </association>
    
    
        <association property="categoryInfo" javaType="gamepiece.admin.boardCategory.domain.BoardCategory">
        <id column="bbs_cate_cd" property="categoryCode" />
        <result column="bbs_cate_nm" property="categoryName" />
        <result column="admin_id" property="adminId" />
        <result column="reg_ymd" property="categoryYmd" />
              <result column="board_count" property="boardCount" />
    </association>
    
    <association property="fileInfo" javaType="gamepiece.admin.board.domain.AdminBoardFiles">
		<id column="fileIdx" 				property="file_idx"/>
		<result property="fileNewName" 		column="file_new_name"/>
		<result property="fileOriginalName" column="file_original_name"/>
		<result property="filePath" 		column="file_path"/>
		<result property="fileSize" 		column="file_size"/>
		</association>


    
    

    
</resultMap>

						
						<select id="getBoardSearchList" parameterType="map" resultMap="BoardResultMap">
						    SELECT 
						        b.bbs_no, 
						        b.bbs_cate_cd, 
						        b.bbs_title, 
						        b.bbs_view, 
						        b.bbs_like, 
						        b.bbs_dislike, 
						        u.user_nn, 
						           b.is_delete,
						        b.bbs_ymd
						    FROM 
						    	boards b 
						    INNER JOIN 
						    	boards_categories bc ON b.bbs_cate_cd = bc.bbs_cate_cd
						    	INNER JOIN user u 
						    	ON b.id = u.id
						    WHERE 1=1
						<if test="searchCate != null and searchCate != 'all'">
						        AND b.bbs_cate_cd = 
						        <choose>
						            <when test="searchCate == 'free'">
						                'bbs_cate_01'
						            </when>
						            <when test="searchCate == 'attack'">
						                'bbs_cate_02'
						            </when>
						            <when test="searchCate == 'info'">
						                'bbs_cate_03'
						            </when>
						        </choose>
						    </if>
						    <if test="searchValue != null and searchValue != ''">
						        AND b.bbs_title LIKE CONCAT('%', #{searchValue}, '%')
						    </if>
						    	AND 
									b.is_delete = 'active'
						    ORDER BY CAST(SUBSTRING_INDEX(b.bbs_no,'bbs_',-1) AS UNSIGNED) DESC
						    LIMIT #{rowPerPage} OFFSET #{offset}
						</select>


					
					<select id="getCntSearchBoard" parameterType="map" resultType="int">
							   SELECT 
							   	COUNT(*)
							   FROM
							   	 boards b
							   INNER JOIN 
							   				boards_categories bc
							   			ON b.bbs_cate_cd = bc.bbs_cate_cd
							   INNER JOIN user u 
							   ON b.id = u.id
							   WHERE 1=1
							   <if test="searchCate != null and searchCate != 'all'">
							       AND b.bbs_cate_cd = 
							       <choose>
							           <when test="searchCate == 'free'">
							               'bbs_cate_01'
							           </when>
							           <when test="searchCate == 'attack'">
							               'bbs_cate_02'
							           </when>
							           <when test="searchCate == 'info'">
							               'bbs_cate_03'
							           </when>
							       </choose>
							   </if>
							   <if test="searchValue != null and searchValue != ''">
							       AND b.bbs_title LIKE CONCAT('%', #{searchValue}, '%')
							   </if>
							   AND 
									b.is_delete = 'active'
							</select>


	
	<select id="getCntBoard" resultType="int">
			SELECT
				COUNT(*)
			FROM
				 boards b
	
			WHERE
				b.is_delete = 'active'
	</select>





<select id="getBoardsList" parameterType="gamepiece.util.Pageable" resultMap="BoardResultMap">
    SELECT
        b.bbs_no,
        b.bbs_cate_cd,
        b.bbs_title,
        b.bbs_view,
        b.bbs_like,
        b.bbs_dislike,
        u.user_nn,
        b.is_delete,
        b.bbs_ymd
    FROM
        boards b INNER JOIN boards_categories bc
        ON b.bbs_cate_cd = bc.bbs_cate_cd
        INNER JOIN user u
        ON b.id = u.id
 
 where
		b.is_delete = 'active' 
 
    ORDER BY
        CAST(SUBSTRING_INDEX(b.bbs_no,'bbs_',-1) AS UNSIGNED) DESC
    LIMIT #{rowPerPage} OFFSET #{offset};
</select>






	<select id="getBoardInfo" parameterType="string" resultMap="BoardResultMap">	
	
	
	SELECT
		b.bbs_no,
		b.bbs_cate_cd,
		bc.bbs_cate_nm,
		b.bbs_title,
		b.bbs_cn,
		b.bbs_view,
		b.bbs_like,
		b.bbs_dislike,
		b.bbs_ymd
		
		
	FROM
	    boards b LEFT JOIN boards_categories bc
	    ON b.bbs_cate_cd = bc.bbs_cate_cd
	    
	  
	 WHERE
	bbs_no = #{boardNum};
		
	
	</select>

<update id="modifyBoard" parameterType="Board">
    UPDATE boards
    <set>
        <if test="boardCategory != null and boardCategory != ''">
            bbs_cate_cd = #{boardCategory}
        </if>
        <if test="boardTitle != null and boardTitle != ''">
            ,bbs_title = #{boardTitle}
        </if>
        <if test="boardContent != null and boardContent != ''">
            ,bbs_cn = #{boardContent}
        </if>
    </set>
    WHERE 
    	bbs_no = #{boardNum}
</update>


<update id="removeBoard" parameterType="string">

		UPDATE 
			boards
		SET
			is_delete = 'delete'
		WHERE 
			bbs_no=#{boardNum};

</update>




</mapper>