<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gamepiece.user.board.mapper.BoardFileMapper">

	<resultMap type="gamepiece.user.board.domain.BoardFiles" id="fileResultMap">
		<result property="fileIdx" 			column="file_idx"/>
		<result property="fileNewName" 		column="file_new_name"/>
		<result property="fileOriginalName" column="file_original_name"/>
		<result property="filePath" 		column="file_path"/>
		<result property="fileSize" 		column="file_size"/>
	
	
	
	<association property="boardInfo" javaType="gamepiece.user.board.domain.Board">
		<id column="bbs_no" property="boardNum" />
		<result column="bbs_cate_cd" property="boardCategory" />
		<result column="bbs_title" property="boardTitle" />
		<result column="bbs_cn" property="boardContent" />
		<result column="id" property="boardUserId" />
		<result column="bbs_like" property="boardLikeCnt" />
		<result column="bbs_dislike" property="boardDisLikeCnt" />
		<result column="bbs_view" property="boardViewCnt" />
		<result column="bbs_ymd" property="boardYmd" />
		</association>
		
		
			<association property="inquiryInfo" javaType="gamepiece.user.board.domain.Inquiry">
				<id column="inquiry_id" property="inquiryNum" />
		<result column="id" property="inquiryUserId" />
		<result column="inquiry_title" property="inquiryTitle" />
		<result column="inquiry_content" property="inquiryContent" />
		<result column="inquiry_ymd" property="inquiryYmd" />
			</association>
	
</resultMap>
	<delete id="deleteFileByIdx" parameterType="String">
		DELETE
		FROM 
			files
		WHERE
			file_idx = #{fileIdx}
	</delete>

	<select id="getFileInfoByIdx" parameterType="string" resultMap="fileResultMap">
		SELECT
			 file_idx,
			 file_new_name,
			 file_original_name,
			 file_path,file_size
		FROM
			files
		WHERE
			file_idx = #{fileIdx}
	</select>
	
	<select id="getFileList" resultMap="fileResultMap">
		SELECT
			 file_idx,
			 file_new_name,
			 file_original_name,
			 file_path,
			 file_size
		FROM
			files
	</select>

	<insert id="addfile" parameterType="gamepiece.user.board.domain.BoardFiles">
		INSERT INTO files
		(
			 file_idx,
			 file_new_name,
			 file_original_name,
			 file_path,
			 file_size,
			 file_reg_ymd
		)VALUES( 
			 CONCAT('file_', LPAD((
		SELECT next_num FROM (
		SELECT MAX(CAST(SUBSTRING_INDEX(file_idx, 'file_', -1) AS UNSIGNED)) + 1 AS
		next_num
		FROM files
		) AS temp
		), 3, '0')),
			 #{fileNewName},
			 #{fileOriginalName},
			 #{filePath},
			 #{fileSize},
			 CURDATE()
		)
	</insert>

<insert id="addfiles" parameterType="java.util.List">
    INSERT INTO files (
        file_idx,
        file_new_name,
        file_original_name,
        file_path,
        file_size,
        file_reg_ymd
    ) VALUES 
    <foreach collection="list" item="file" separator=",">
    (
        #{file.fileIdx},
        #{file.fileNewName},
        #{file.fileOriginalName},
        #{file.filePath},
        #{file.fileSize},
        CURDATE()
    )
    </foreach>
</insert>
	
	
	
	<select id="getNextFileIdx" resultType="string">
    SELECT CONCAT('file_', LPAD(IFNULL(MAX(CAST(SUBSTRING_INDEX(file_idx, 'file_', -1) AS UNSIGNED)), 0) + 1, 3, '0'))
    FROM files
</select>
	
	
<select id="findByBoardNum" resultMap="fileResultMap">
  SELECT
    	*
    FROM 
    	boards b inner JOIN files f 
    	ON b.file_idx = f.file_idx
    WHERE b.bbs_no = #{boardNum}
</select>

<select id="findByInquiryNum" resultMap="fileResultMap">
 
SELECT
*
	FROM
	  inquiry i INNER JOIN files f 
	  ON i.file_idx = f.file_idx
    WHERE 
    			inquiry_id =#{inquiryNum};
</select>
	
	
	
	<select id="findByFileIdx" resultType="gamepiece.user.board.domain.BoardFiles">
    SELECT * FROM files 
    WHERE file_idx = #{fileIdx}
</select>
	

	
	
	
	

	
</mapper>







