<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<head>
	<link rel="stylesheet" th:href="@{/assets/css/board/boardList.css}" />
</head>
<th:block layout:fragment="contents-body">
	<main>
         <div class="main_div">
        <div class="boards-div">
        <div class="board-bar">
            <div class="board"><a th:href="@{/board/free}" class="boardWord">자유게시판</a></div>
            <div class="board"><a th:href="@{/board/attack}" class="boardWord">공략게시판</a></div>
            <div class="board"><a th:href="@{/board/info}" class="boardWord">정보게시판</a></div>
            <div class="board"><a th:href="@{/board/notice}" class="boardWord">공지사항</a></div>
            <div class="board"><a th:href="@{/board/inquiry}" class="boardWord">문의사항</a></div>
        </div>
    </div>
        <div class="content">
            <div class = searchAndWrite>
                <div class="search">
                    <input type="text" class="item-search" id="searchValue" 
                    	name="searchValue" th:value="${searchValue}"/>
                    <i class="bi bi-search" id="searchBtn" type="button"></i>
                </div>
           
            </div>
            
                <table class="table table-hover">
                <thead>
                <tr class="header">
                    <th class="num"><span>번호</span></th>
                    <th class="title"><span>제목</span></th>
                    <th><span>조회수</span></th>
                     <th><span>작성자</span></th>
                   <th><span>작성일</span></th>
                </tr>
            </thead>
            <tbody style="text-align: center;">
             <th:block th:if="${not #lists.isEmpty(noticeList)}">  
                               <tr th:each="l : ${noticeList}">
                                        
                                       <td th:text="${l.noticeNum}"></td>
                                       <td id="noticeTitle">
									    <a th:href="@{/board/notice/detail(noticeNum=${l.noticeNum})}" 
									       th:text="${l.noticeTitle}" 
									       style="text-decoration: none; color: inherit; cursor: pointer;">
									    </a>
									</td>
                                       <td th:text="${l.viewCount}"></td>
                                       <td th:text="${l.adminId}"></td>
                                       <td th:text="${l.noticeYmd}"></td>                                   
                                   
                                    </tr>
                                    </th:block>
                                         <th:block th:if="${#lists.isEmpty(noticeList)}">
								<tr>
									<td colspan="5">등록된 게시물이 없습니다.</td>
								</tr>
							</th:block>
                                 
                                </tbody>
            </table>
        
         
            <div id="memberMenu">
                <div class="memberMenuFont" id="lookpost" >작성글보기</div>
             
 
            </div>
            
            <div class="pagination-area mt-15 mb-50">
			            <nav>
			                <ul class="pagination justify-content-center">
			                    <li class="page-item">
			                        <a class="page-link" th:href="@{/board/notice}">
			                        	<i class="material-icons md-first_page"></i>
			                        </a>
			                    </li>
			                    <li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
			                        <a class="page-link"
			                           th:href="@{/board/notice(currentPage=${currentPage - 1})}">
			                        	<i class="material-icons md-chevron_left"></i>
			                        </a>
			                    </li>
			                    <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
				                    <li class="page-item" th:classappend="${num == currentPage} ? 'active'">
				                    	<a class="page-link" th:href="@{/board/notice(currentPage=${num})}" 
				                    	   th:text="${num}">
				                    	</a>
				                    </li>
			                    </th:block>
			                    <li class="page-item" th:classappend="${currentPage eq lastPage} ? 'disabled'">
			                        <a class="page-link"
			                           th:href="@{/board/notice(currentPage=${currentPage + 1})}">
			                        	<i class="material-icons md-chevron_right"></i>
			                        </a>
			                    </li>
			                    <li class="page-item">
			                        <a class="page-link" th:href="@{/board/notice(currentPage=${lastPage})}">
			                        	<i class="material-icons md-last_page"></i>
			                        </a>
			                    </li>
			                </ul>
			            </nav>
			        </div>
    
            
   
        </div>
    
</div> 





    </main>
</th:block>
<!--/* 사용자 추가 js file */-->
<th:block layout:fragment="customJsResource">
	
	<script th:src="@{/assets/js/home/homeJs.js}"></script>
</th:block>
<!--/* 사용자 추가 js script */-->
<th:block layout:fragment="customJs">
    <script>



	$('#searchBtn').click(function(){
		
		const searchValue = $('#searchValue').val();
		const $form = $('<form />', { 'action' : '/board/noticeList', 'method': 'post'});
	
		const $searchValue = 
				$('<input />', {'type':'hidden', 'name' : 'searchValue'}).val(searchValue);
		$form.append($searchValue);
		$('body').append($form);
		$form.submit();
	});  
    



</script>

</th:block>
</html>