<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

      <th:block layout:fragment="contents-header">
	      <div class="content-header">
	          <div>
	          	<h2 class="content-title">휴면 회원정보 조회</h2>
	          </div>
	      </div>
      </th:block>
      
      <th:block layout:fragment="contents-body">
      <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="user-list">
                      <header class="border-bottom mb-4 pb-4">
                          <div class="row">
                              <div class="col-lg-5 col-6 me-auto">
                                  <input type="text" placeholder="Search..." class="form-control" />
                              </div>
                            
                          </div>
                      </header>
                      <!-- card-header end// -->
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead>
                                  <tr>
                                      <th>회원ID</th>
                                      <th>회원비밀번호</th>
                                      <th>회원이름</th>
                                      <th>성별</th>
                                      <th>회원이메일</th>
                                      <th>생년월일</th>
                                      <th>회원연락처</th>
                                      <th>회원닉네임</th>
                                      <th>가입일자</th>
                                      <th>미접일수</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr th:if="${dormancyUserInfo != null}" th:each="dormancyUserInfo : ${dormancyUserInfo}">
                                      <td th:text="${dormancyUserInfo.id}"></td>
                                      <td th:text="${dormancyUserInfo.userPswd}"></td>
                                      <td th:text="${dormancyUserInfo.userNm}"></td>
                                      <td th:text="${dormancyUserInfo.userGender}"></td>
                                      <td th:text="${dormancyUserInfo.userEmlAddr}"></td>
                                      <td th:text="${dormancyUserInfo.userBrdt}"></td>
                                      <td th:text="${dormancyUserInfo.userTelno}"></td>
                                      <td th:text="${dormancyUserInfo.userNn}"></td>
                                      <td th:text="${dormancyUserInfo.joinYmd}"></td>
                                      <td th:text="${dormancyUserInfo.inactiveDays} + '일'"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- table-responsive.// -->
                  </div>
                  <!-- col end// -->
                  
                  <!-- col end// -->
              </div>
              <!-- row end// -->
          </div>
          <!-- card-body // -->
      </div>
      <!-- card end// -->
      <div class="pagination-area mt-30 mb-50">
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                  <li class="page-item active"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">16</a></li>
                  <li class="page-item">
                      <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                  </li>
              </ul>
          </nav>
      </div>
      </th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		
    	</script>
    </th:block>
            
</html>
