<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
    
	<th:block layout:fragment="contents-header">
		<div class="content-header">
			<div>
				<h2 class="content-title">회원 상세정보 조회</h2>
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="contents-body">
		<div class="card">
			<div class="card-body">
				<div class="row">
				    <div class="col-lg-5">
				        <div class="table-responsive">
				            <table class="table" th:object="${userInfo}">
				                <tbody>
									<tr>
									    <td>
									        <div class="itemside">
									            <label class="info" for="id">아이디</label>
									        </div>
									    </td>
									    <td>
									    	<input type="text" th:value="*{id}" id="id" placeholder="Type here" class="form-control" disabled>
									    </td>
									</tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="authrtCd">권한명</label>
								            </div>
								        </td>
								        <td>
							                <input type="text" th:value="*{authrtCd}" id="authrtCd" placeholder="Type here" class="form-control"/>
							                <!-- <select name="authrtNm" id="authrtNm">
							                	<option value="authrtNm">권한을 선택해주세요</option>
							                	<th:block th:if="${authrt}"
			                                              th:each="authrt : ${authrt}">
			                                        <option th:value="${authrt.count}" th:text="${authrt.authrtNm}" th:selected="${authrt.count} == ${authrt.authrtNm}"></option>
			                                    </th:block>
							                </select> -->
								        </td>
								        <!-- <td>
								        	<input type="text" th:value="*{authrt.authrtNm}" id="authrtNm" placeholder="Type here" class="form-control">
								        </td> -->
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userPswd">비밀번호</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userPswd}" id="userPswd" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userNm">이름</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userNm}" id="userNm" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userGender">성별</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userGender == 'M' ? '남성' : '여성'}" id="userGender" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userEmlAddr">이메일주소</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userEmlAddr}" id="userEmlAddr" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userBrdt">생년월일</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userBrdt}" id="userBrdt" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userTelno">전화번호</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userTelno}" id="userTelno" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="userNn">닉네임</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{userNn}" id="userNn" placeholder="Type here" class="form-control">
								        </td>
								    </tr>
								    <tr>
								        <td>
								            <div class="itemside">
								                <label class="info" for="joinYmd">가입일자</label>
								            </div>
								        </td>
								        <td>
								        	<input type="text" th:value="*{joinYmd}" id="joinYmd" placeholder="Type here" class="form-control" disabled>
								        </td>
								    </tr>
								</tbody>
					        </table>
					    </div>
					</div>
					<div class="col-md-4">
						<table class="table" th:object="${userAvatar}">
							<tr>
								<td>
									<div class="itemside">
										<label class="info" for="avatar">아바타</label>
									</div>
								</td>
								<td>
									<!-- <img th:src="*{imgUrl}" id="avatar"> -->
									<span class="icon icon-lg bg-primary-light">
									    <i class="text-primary material-icons md-person"></i>
									</span>
								</td>
							</tr>
						</table>
						<a class="btn btn-primary" href="#">저장</a>
					</div>
				</div>
			</div>
		</div>
	</th:block>
      
      <!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		
    	</script>
    </th:block>
</html>
