<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="contents-header"> 	
	<div class="col-6">
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" th:text="${title}"></h2>
          </div>
          <div>
                    <a th:href="@{/admin/board/list}" id="cancelBtn" class="btn btn-light rounded font-sm mr-5 text-body hover-up">취소</a>
                     <button type="submit" id="submitBtn" class="btn btn-md rounded font-sm hover-up">등록</button>
             </div>
      </div>
     </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
   	<form id="addBoardForm" th:action="@{/admin/board/write}" method="post">
   		    <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                       
                   
                       
              				
							<div class="md-4" style="margin-bottom: 10px;">
								<label for="boardCategory" class="form-label">카테고리</label>
								<select name="boardCategory" id="boardCategory" class="form-control text-center"  >
									<option value="">게시판을 선택하세요</option>
									<th:block th:if="${categoryList}"
											  th:each="l, status : ${categoryList}">
											  <option th:value="${l.categoryCode}" th:text="${l.categoryName}"></option>
									</th:block>
								</select>
							</div>
						
                       
                            <div class="mb-4">
                                <label for="boardTitle" class="form-label">제목</label>
                                <input type="text" class="form-control" 
                                    id="boardTitle" name="boardTitle" placeholder="제목을 입력하세요">
                            </div>
                           
                            <div class="mb-4">
                                <label for="boardContent" class="form-label">게시내용</label>
                                <textarea placeholder="내용을 입력하세요" class="form-control" rows="7" 
                                style="height: 300px; resize: none;" 
                                id="boardContent" name="boardContent"></textarea>
                            </div>
                          
                         
                         
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>첨부파일</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">이미지</label>
                                        <input class="form-control" type="file">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- .row end// -->
                            	<div class="row mt-4">					
							
						</div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
   	</th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
		// 게시글 등록
		$('#submitBtn').click(function(){
			let isSubmit = true;
			const $formControl = $('#addBoardForm').find('#boardTitle, select, textarea');
			$formControl.each((idx, elem) => {
				const value = $(elem).val();
				if(!value){
					isSubmit = false;
					alert('필수 입력 항목입니다.');
					$(elem).focus();
					return false;
				}
			});
			
			if(isSubmit) $('#addBoardForm').submit();
		})
		

    		
    	</script>
    </th:block>
</html>