<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside class="navbar-aside" id="offcanvas_aside" th:fragment="asideFragment">
	<div class="aside-top">
		<a class="brand-wrap"> 
			<img th:src="@{/manage/assets/imgs/theme/GamePeace_logo.png}" th:onclick="|location.href='@{/admin/user/allUserInfo}'|" class="logo" />
		</a>
		<div>
			<button class="btn btn-icon btn-aside-minimize">
				<i class="text-muted material-icons md-menu_open"></i>
			</button>
		</div>
	</div>
	<nav>
		<ul class="menu-aside">
			<li class="menu-item has-submenu">
				<a class="menu-link" href="#">
					<i class="icon material-icons md-person"></i> 
					<span class="text">회원관리</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/user/allUserInfo}">회원목록</a> 
					<a th:href="@{/admin/user/removeUserInfo}">탈퇴 회원목록</a>
					<a th:href="@{/admin/user/dormancyUserInfo}">휴면 회원목록</a>
					<a th:href="@{/admin/user/userLoginlog}">회원 로그인 기록 조회</a>
				</div>
			</li>
			<li class="menu-item has-submenu">
				<a class="menu-link" href="#">
					<i class="icon material-icons md-shopping_cart"></i> 
					<span class="text">포인트샵 관리</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/point/list}">포인트샵 목록</a>
				</div>
			</li>
				<li class="menu-item has-submenu">
				<a class="menu-link" href="#">
					<i class="icon material-icons md-comment"></i> 
					<span class="text">게시판 관리</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/board/list}">게시판 목록</a> 
					<a th:href="@{/admin/inquiry/list}">문의사항</a> 
					<a th:href="@{/admin/notice/list}">공지사항</a>
					<a th:href="@{/admin/boardCategory/list}">카테고리목록</a>
					<a th:href="@{/admin/report/list}">신고목록</a>
				</div>
			</li>
			<li class="menu-item has-submenu">
				<a class="menu-link" href="#">
					<i class="icon material-icons md-post_add"></i> 
					<span class="text">이벤트관리</span>
				</a>
				<div class="submenu">
					<a th:href="@{/admin/event/eventList}">이벤트 목록</a>
					<a th:href="@{/admin/event/eventWinnerList}">이벤트 당첨자리스트 목록</a>
				</div>
			</li>
			<li class="menu-item">
				<a class="menu-link" href="page-reviews.html"> 
					<i class="icon material-icons md-comment"></i> 
					<span class="text">리뷰</span>
				</a>
			</li>
		</ul>
		<hr />
		<ul class="menu-aside">
			<li class="menu-item">
				<a class="menu-link" th:href="@{/main}">
					<i class="icon material-icons md-local_offer"></i> 
					<span class="text">사용자 화면으로 이동 </span>
				</a>
			</li>
		</ul>
		<br /> <br />
	</nav>
</aside>
</html>