body{
    margin: 0;
    background-color: #0B2A4B;
    padding-top: 106px;
    overflow-y: scroll;
}

header {
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    margin: 0px;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-div{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-img {
    width: 80px;
    height: auto;
}

#profile-img {
    width: 45px;
    height: 45px;
    margin: 20px;
}

.header-cate ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header-cate li {
    margin: 0px 40px;
}

.main-div{
    width: 1280px;
    margin: 0 auto;
}

.tournament-menu{
    width: 100%;
}

.tournament-menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.tournament-menu ul li{
    list-style: none;
    font-size: 16px;
    text-align: center;
    margin-top: 9px;
    width: 8vw;
}

.button-list{
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 0;
    border-radius: 8px;
    color: #ffffff;
}

.button-list:hover{
    color: #007AFF;
    transition: all 0.5s;
}

.active{
    color: #007AFF;
}

.tournament-div{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    color: #ffffff;
}

.tournament-list{
    width: 98%;
    height: 165px;
    border: 1px solid #007AFF;
    border-radius: 8px;
    margin-top: 15px;
    padding: 37px 6px;
    display: flex;
    font-size: 13px;
    background: #ffffff;
    color: #000000;
}

.tournament-icon{
    width: 80px;
    text-align: center;
    margin-left: 18px;
    
}

.icon-img{
    width: 60px;
    height: 60px;
    background: #F1F2F5;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 9px;
}

.icon-img-active{
    width: 60px;
    height: 60px;
    background: #007AFF;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 9px;
}

.icon-img-active + p{
    color: #007AFF;
    font-weight: bold;
}

.icon-img img {
    width: 60px;
    height: 60px;
}

.match-info{
    margin-top: 20px;
    display: flex;
}

.select-year{
    width:150px;
    background: #124275;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    border: none;
}

.select-year > p{
    margin: 0;
}

.select-year:hover{
    cursor: pointer;
}

.select-month{
    width:150px;
    background: #124275;
    margin-left: 7px;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    border: none;
}

.select-month:hover{
    cursor: pointer;
}

.select-month > p{
    margin: 0;
}

.bi-caret-down-fill{
    color: #007AFF;
}

.match-date{
    width: 98%;
    height: 46px;
    background: #007AFF;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
}

.match-date p{
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}

.match-time{
    width: 98%;
    height: 46px;
    border: 1px solid #007AFF;
    border-radius: 8px;
    margin-top: 10px;
    background: #ffffff;
    color: #000000;
}

.match-time p{
    margin: 0;
}

.match-time > div{
    display: flex;
    padding: 8px 10px;
    align-items: center;
}

.is-state-end{
    background: #F1F2F5;
    width: 75px;
    height: 28px;
    font-size: 12px;
    color: #6A6A6A;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-left: 15px;
}

.is-state-ing{
    background: #007AFF;
    width: 75px;
    height: 28px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-left: 15px;
}

.score-div{
    font-weight: bold;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.team1{
    display: flex;
    align-items: center;
}

.team1 > i{
    margin-left: 15px;
    margin-right: 35px;
}

.team2{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.team2 > i{
    margin-left: 35px;
    margin-right: 15px;
}

.team-win{
    background: #007AFF;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    color: #ffffff;
}

.team-lose{
    background: #D9D9D9;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    color: #000000;
}

.bi-caret-right-fill{
    color: #007AFF;
}