<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gamepiece.admin.boardCategory.mapper.BoardCategoryMapper">




	<resultMap type="gamepiece.admin.boardCategory.domain.BoardCategory" id="BoardCategoryResultMap">
    <id column="bbs_cate_cd" property="categoryCode" />
     <result column="bbs_cate_nm" property="categoryName" />
      <result column="admin_id" property="adminId" />
      <result column="reg_ymd" property="categoryYmd" />
      <result column="board_count" property="boardCount" />



 
    
  
</resultMap>


<select id="getCntBoardCategory" resultType="int">
		SELECT
			COUNT(*)
		FROM
			 boards_categories bc
	WHERE
        bc.isdelete = 'active'
</select>

<select id="getBoardCategoryList" parameterType="gamepiece.util.Pageable" resultMap="BoardCategoryResultMap">


				 
		SELECT
				bc.bbs_cate_cd,
				bc.bbs_cate_nm,
				COUNT(b.bbs_no) AS board_count,
				bc.reg_ymd
		FROM 
					boards_categories bc LEFT JOIN boards b 
					ON bc.bbs_cate_cd = b.bbs_cate_cd
		WHERE 
				bc.isdelete = 'active'			
		GROUP BY 
				bc.bbs_cate_cd, bc.bbs_cate_nm
		
		ORDER BY 
				CAST(SUBSTRING_INDEX(bc.bbs_cate_cd,'bbs_cate_',-1) AS UNSIGNED)
			
			



</select>

<insert id="addBoardCategory" parameterType="BoardCategory">


INSERT INTO boards_categories(
	bbs_cate_cd,
	bbs_cate_nm,
	admin_id, 
	reg_ymd
	)VALUES(
	CONCAT('bbs_cate_', LPAD((
            SELECT next_num FROM (
                SELECT MAX(CAST(SUBSTRING_INDEX(bbs_cate_cd, 'bbs_cate_', -1) AS UNSIGNED)) + 1 AS next_num 
                FROM boards
            ) AS temp
        ), 2, '0')), 
	#{categoryName}, 
	#{adminId}, 
	CURDATE()
	);




</insert>


<select id="getCategoryInfo" parameterType="string" resultMap="BoardCategoryResultMap">

SELECT 
bbs_cate_cd, 
bbs_cate_nm
	FROM boards_categories
WHERE
	bbs_cate_cd = #{categoryCode}




</select>


<update id="modifyCategory" parameterType="BoardCategory">

	UPDATE 
		boards_categories
	SET 
		bbs_cate_nm = #{categoryName}
	WHERE 
		bbs_cate_cd = #{categoryCode}
	



</update> 




</mapper>