<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">


	<th:block layout:fragment="contents-header"> 	
         <div class="content-header">
              <h2 class="content-title">아이템 상세</h2>
                  
          </div>
   	</th:block>
   	<th:block layout:fragment="contents-body" th:object="${itemInfo}">
   		<form id="modifyPointForm" th:action="@{/admin/point/modify}" method="get">
	   	<div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                            <input type="hidden" th:value="*{itemCd}">
                                <div class="col-md-3">
                                    <h6>1. 일반 정보</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">아이템명</label>
                                        <input type="text" name="itemName" th:value="${itemInfo.itemName}" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. 아이템 가격</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">아이템 가격</label>
                                        <input type="text" name="itemPrice" th:value="${itemInfo.itemPrice}" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. 카테고리</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                         <label class="mb-2 form-check form-check-inline" style="width: 45%;" th:each="cateList : ${cateList}">
                                            <span class="form-check-label" th:text="${cateList.cateName}"></span>
                                            <input class="form-check-input" checked="" id="itemCate" name="itemCate" type="radio" th:value="${cateList.cateCode}">
                                        </label>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. 첨부파일</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">이미지</label>
                                        <input class="form-control" type="file">
                                    </div>
                                </div> <!-- col.// -->
                                <div>
			                      <button type="submit" id="modifyMemberBtn" class="btn btn-md rounded font-sm hover-up">수정</button>
			                  </div>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
         </form>
   	</th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    		
    	</script>
    </th:block>
</html>