<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">


	<th:block layout:fragment="contents-header"> 	
         <div class="content-header">
              <h2 class="content-title">아이템 추가</h2>
                 
          </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
   	<form id="addItemForm" th:action="@{/admin/point/add}" method="post" enctype="multipart/form-data">
	   	<div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>1. 일반 정보</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">아이템명</label>
                                        <input type="text" placeholder="아이템명을 입력해 주세요" 
                                        	   class="form-control" id="itemName" name="itemName">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. 가격 책정</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">제품 가격</label>
                                        <input type="text" placeholder="Point" 
                                        	   id="itemPrice" name="itemPrice" class="form-control">
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. 카테고리</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="mb-2 form-check form-check-inline" style="width: 45%;" th:each="cateList : ${cateList}">
                                            <span class="form-check-label" th:text="${cateList.cateName}"></span>
                                            <input class="form-check-input" checked="" id="itemCate" name="itemCate" type="radio" th:value="${cateList.cateCode}">
                                        </label>
                                    </div>
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. 첨부파일</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">이미지</label>
                                        <input class="form-control" type="file"
                                        	   id="files" name="files" />
                                    </div>
                                </div> <!-- col.// -->
                                <div>
			                     <button type="button" id="addItemBtn" class="btn btn-light rounded font-sm mr-5 text-body hover-up">아이템 배포</button>
			                 </div>
                            </div> <!-- .row end// -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
   	</th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	<script>
    	$('#addItemBtn').click(function(){
			let isSubmit = true;
			const $formControl = $('#addItemForm').find('input');
			$formControl.each((idx, elem)=>{
				const value = $(elem).val();
				if(!value){
					isSubmit = false;
					alert('필수 입력 항목입니다.');
					$(elem).focus();
					return false;
				}
			});
			
			if(isSubmit) $('#addItemForm').submit();
		})
    	</script>
    </th:block>
</html>