<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gamepiece.user.game.mapper.UserGameMapper">
	<resultMap type="gamepiece.user.game.domain.UserGame" id="gameList">
		<id 	column="gm_cd" property="gameCode"></id>
		<id 	column="payment_method_cd" property="paymentMethodCode"></id>
		<result column="gm_nm" property="gameName"></result>
		<result column="p_cd" property="platformCode"></result>
		<result column="p_nm" property="platformName"></result>
		<result column="developer" property="developer"></result>
		<result column="gm_enrollment_ymd" property="gameEnrollmentYmd"></result>
		<result column="detail_id" property="detailId"></result>
		<result column="img_id" property="imgId"></result>
		<result column="video_id" property="videoId"></result>
		<result column="description" property="description"></result>
		<result column="price" property="price"></result>
		<result column="genre_code" property="genreCode"/>
		<result column="genre_name" property="genreName"/>
		<result column="genre" property="genre"></result>
		<result column="review_count" property="reviewCount"></result>
		<result column="review_avg" property="reviewAvg"></result>
		<result column="summation" property="summation"></result>
		<result column="admin_id" property="adminId"></result>
		<result column="reg_ymd" property="regYmd"></result>
		<result column="isDelete" property="isDelete"></result> 
		<result column="payment_method" property="paymentMethod"></result> 
		
	</resultMap>
	<select id="getGameList" parameterType="Pageable" resultMap="gameList">
		/* 사용자 게임 화면 조회 */
		SELECT
			g.gm_cd,
			g.gm_nm,
			g.p_cd,
			p.p_nm,
			g.developer,
			g.gm_enrollment_ymd,
			gd.detail_id,
			gd.img_id,
			gd.video_id,
			gd.`description`,
			gd.price,
			gd.genre,
			gd.review_count,
			gd.review_avg,
			gd.summation,
			gd.admin_id,
			gd.reg_ymd,
			g.is_delete
		FROM
			games g INNER JOIN game_detail gd
			ON g.gm_cd = gd.gm_cd
			INNER JOIN platform p
			ON g.p_cd = p.p_cd
		WHERE
			g.is_delete != 'delete'
		ORDER BY CAST(SUBSTRING_INDEX(g.gm_cd, 'gm_', -1) AS UNSIGNED)
		LIMIT #{rowPerPage} OFFSET #{offset};
	</select>
	
	<select id="getCntGameList" resultType="int">
		/* 게임 목록 총 행의 갯수 */
		SELECT
			COUNT(*)
		FROM
			games g INNER JOIN game_detail gd
			ON g.gm_cd = gd.gm_cd
			INNER JOIN platform p
			ON g.p_cd = p.p_cd;
	</select>
	<select id="getPlatformList"  resultMap="gameList">
		/* 플랫폼 목록 조회 */
		SELECT 
			p_cd, 
			p_nm
		FROM 
			platform;
	</select>
	
	<select id="getGenreList" resultMap="gameList">
		/* 장르 목록 조회 */
		SELECT
			genre_cd,
			genre_name
		FROM
			game_genre;
	</select>
	
	
	<select id="getCntGameListWithPlatform" resultType="int">
		/* 플랫폼에 따른 게임 목록 총 행의 갯수 */
		SELECT
			COUNT(*)
		FROM
			games g INNER JOIN game_detail gd
			ON g.gm_cd = gd.gm_cd
			INNER JOIN platform p
			ON g.p_cd = p.p_cd
		WHERE 
			g.p_cd=#{platformCode};
	</select>
	
	<select id="getGameListWithPlatform" parameterType="map" resultMap="gameList">
		/* 플랫폼 클릭시 해당 게임 목록 조회 */
		SELECT
			g.gm_cd,
			g.gm_nm,
			g.p_cd,
			p.p_nm,
			g.developer,
			g.gm_enrollment_ymd,
			gd.detail_id,
			gd.img_id,
			gd.video_id,
			gd.`description`,
			gd.price,
			gd.genre,
			gd.review_count,
			gd.review_avg,
			gd.summation,
			gd.admin_id,
			gd.reg_ymd,
			g.is_delete
		FROM
			games g INNER JOIN game_detail gd
			ON g.gm_cd = gd.gm_cd
			INNER JOIN platform p
			ON g.p_cd = p.p_cd
		WHERE 
			p.p_cd = #{platformCode}
			AND
			g.is_delete = 'active'
		LIMIT #{pageable.rowPerPage} OFFSET #{pageable.offset};
	</select>
	
	
	
	<insert id="putGameInCart" parameterType="gamepiece.user.game.domain.UserGame">
  		/* gcl_cd 값을 자동으로 생성 */
	  INSERT INTO game_cart_list (gcl_cd, id, gm_cd, gm_nm, price, admin_ID, enrollment_date)
	  VALUES
	  (
	    CONCAT('gcl_', LPAD(CAST(COALESCE((SELECT MAX(CAST(SUBSTRING(gcl.gcl_cd, 5) AS UNSIGNED)) FROM game_cart_list gcl), 0) + 1 AS UNSIGNED), 2, '0')),
	    #{id}, #{gameCode}, #{title}, #{finalPrice}, 'id01', NOW()
	  );
	</insert>
	
	<select id="getUserCartList" resultMap="gameList">
		/* 게임 카트 테이블 데이터 목록 조회 */
		SELECT gcl.id, gcl.gm_cd, gcl.gm_nm, 
           CASE 
               WHEN gcl.price = 'Free To Play' THEN 0 
               ELSE gcl.price 
           END AS price
   		FROM 
   			game_cart_list gcl 
    	WHERE 
    		id = #{id};
	</select>
	
	<select id="cartTotalPrice" resultType="Integer">
		/* 장바구니 게임 가격의 총합 조회 */
		SELECT 
			SUM(CAST(price AS UNSIGNED))
		FROM 
			game_cart_list;
	</select>
	
	<select id="getPaymentList" resultMap="gameList">
		/* 결제 방법 리스트 조회 */
		SELECT
			payment_method_cd,
			payment_method
		FROM
			payment_method;
	</select>
	
	
</mapper>