<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="contents-header"> 	
      <div class="content-header">
          <div>
              <h2 class="content-title card-title" th:text="${title}"></h2>
          </div>
              <div> 
          <a th:href="@{/admin/boardCategory/write}" class="btn btn-primary btn-sm rounded">카테고리추가</a>
      </div>
      </div>
   	</th:block>
   	<th:block layout:fragment="contents-body">
   	   <div class="card">
                    <div class="card-body">
        <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
      <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${error}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                        <div class="row">
                          
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead style="text-align: center;">
                                            <tr>
                                                
                                                <th>카테고리코드</th>
                                                <th>카테고리이름</th>
                                                <th>게시글수</th>
                                                <th>등록일</th>
                                         
                                                <th>기타</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                    	   <th:block th:if="${categoryList}">
                               <tr th:each="l : ${categoryList}">
                                        
                                       <td th:text="${l.CategoryCode}"></td>
                                     <td th:text="${l.CategoryName}"></td>
                                     <td th:text="${l.boardCount}"></td>
                                       <td th:text="${l.CategoryYmd}"></td>
                                                                     
                            
                                      
                                        <td>
                                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end" style="display: contents;">
                                                <a th:href="@{/admin/boardCategory/modify(categoryCode=${l.categoryCode})}" 
                                                class="btn btn-sm font-sm rounded btn-brand" style="margin-right: 10px;"> <i class="material-icons md-edit"></i> 수정 </a>
                                                
                                           <a th:href="@{/admin/boardCategory/remove(categoryCode=${l.categoryCode})}"
								  class="btn btn-sm font-sm btn-light rounded removeBtn" style="margin-right: 10px;">
								  <i class="material-icons md-delete_forever"></i>삭제
															</a>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    </th:block>
                                    <th:block th:unless="${categoryList}">
								<tr>
									<td colspan="5">등록된 상품의 정보가 없습니다.</td>
								</tr>
							</th:block>
                                    	
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                 <div class="pagination-area mt-15 mb-50">
                    <nav>
                        <ul class="pagination justify-content-center">
                        		<li class="page-item">
                        			<a class="page-link" th:href="@{/admin/boardCategory/list}">         			
               						<i class="material-icons md-first_page"></i>
                        			</a>
                        
                        
                        
                            <li class="page-item" th:classappend="${currentPage < 2} ? 'disabled'">
                            		<a class="page-link"
                            			th:href="@{/admin/boardCategory/list(currentPage=${currentPage -1})}">
                            		<i class="material-icons md-chevron_left"></i>
                            		</a>
                            </li>
                            <th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">		
                       				<li class="page-item" th:classappend="${num == currentPage} ? 'active'">
                       				<a class="page-link" th:href="@{/admin/boardCategory/list(currentPage=${num})}" th:text="${num}"></a>
                       		</th:block>
                            <li class="page-item" th:classappend="${currentPage eq lastPage} ? disabled">
                                <a class="page-link" 
                                th:href="@{/admin/boardCategory/list(currentPage=${currentPage+1})}">
                                <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                            <li class="page-item">
							    <a class="page-link" 
							       th:href="@{/admin/boardCategory/list(currentPage=${lastPage})}">
							        <i class="material-icons md-last_page"></i>
							    </a>
							</li>    
                        </ul>
                    </nav>
                </div>
   	</th:block>
   	<!--/* 사용자 추가 js file */-->
    <th:block layout:fragment="customJsResource"></th:block>
    <!--/* 사용자 추가 js script */-->
    <th:block layout:fragment="customJs">
    	 <script th:inline="javascript">
  
    	$('.removeBtn').click(function(e){
    		   e.preventDefault();
    		   
    		   if(confirm('삭제하시겠습니까?')) {
    		       const categoryCode = $(this).attr('href').split('=')[1];
    		       
    		       const form = document.createElement('form');
    		       form.method = 'POST';
    		       form.action = '/admin/boardCategory/remove';
    		       
    		       const input = document.createElement('input');
    		       input.type = 'hidden';
    		       input.name = 'categoryCode';
    		       input.value = categoryCode;
    		       
    		       form.appendChild(input);
    		       document.body.appendChild(form);
    		       form.submit();
    		   }
    		});
    	</script>
    </th:block>
</html>